@import "../../variables.css";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  border: 1px solid;
  padding: 9px 17px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: var(--text-button-label-size);
  line-height: 24px;
  transition: var(--transition-base);
  transition-property: background-color, color, border-color;

  &:disabled {
    cursor: not-allowed;
  }

  &[data-size="large"] {
    padding: 15px 27px;
    font-size: var(--text-base-size);
    line-height: 28px;

    gap: 12px;
  }

  &[data-variant="regular"] {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    & svg path {
      stroke: var(--color-white);
    }

    &:disabled {
      background-color: var(--color-gray-300);
      border-color: var(--color-gray-300);
      color: var(--color-gray-400);

      & svg path {
        stroke: var(--color-gray-400);
      }
    }
  }

  &[data-variant="outlined"] {
    background-color: transparent;
    color: var(--color-gray-700);
    border-color: var(--color-gray-300);

    & svg path {
      stroke: var(--color-gray-700);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
