@import "../../variables.css";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  padding: 9px 17px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: var(--text-button-label-size);
  line-height: 24px;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  border: 1px solid;

  &:disabled {
    cursor: not-allowed;
  }

  &[data-size="large"] {
    padding: 15px 27px;
    font-size: 18px;
    line-height: 28px;

    gap: 12px;
  }

  &[data-variant="regular"] {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    & svg path {
      stroke: #fff;
    }
    &:disabled {
      background-color: #d0d5dd;
      border-color: #d0d5dd;
      color: #98a2b3;
      & svg path {
        stroke: #98a2b3;
      }
    }
  }

  &[data-variant="outlined"] {
    background-color: transparent;
    color: #344054;
    border: 1px solid #d0d5dd;

    & svg path {
      stroke: #344054;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
