.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  animation: jump 1.5s ease-in-out infinite;
  height: 320px;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-16px);
    opacity: 0.5;
  }
}
