.container {
  position: relative;
  display: block;
  padding: 0px var(--space-xs);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-300);
  box-shadow: var(--shadow-sm);

  *[data-error="true"]:has(> &) & {
    border-color: var(--color-error);
  }

  &:focus-within {
    border-color: var(--color-success);
    outline: 4px solid var(--color-success-light);

    *[data-error="true"]:has(> &) & {
      outline: 4px solid var(--color-error-light);
    }
  }
}
