.container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 6px;
  font-size: var(--text-small-size);
  line-height: 20px;
  color: var(--color-gray-700);

  & > .hint {
    color: var(--color-gray-600);
  }

  &[data-error="true"] {
    & > .hint {
      color: var(--color-text-error);
    }
  }
}
