.container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 6px;
  font-size: 14px;
  line-height: 20px;
  color: #344054;

  & > .hint {
    color: #475467;
  }

  &[data-error="true"] {
    & > .hint {
      color: #f04438;
    }
  }
}
