@import url("./assets/fonts/fonts.css");
@import url("./variables.css");

body {
  font-family: var(--font-family-primary), Arial, Helvetica, sans-serif;
  line-height: 28px;
  font-size: var(--text-base-size);
  color: var(--color-text);
  @media (max-width: 768px) {
    line-height: 24px;
    font-size: calc(var(--text-base-size) * 0.8);
  }
}

h1,
h2 {
  font-weight: 600;
  color: var(--color-text-heading);
  margin: 0;
}

h1 {
  font-size: var(--heading-base-size);
  line-height: 1.25;
  letter-spacing: 0.01em;
}

h2 {
  font-size: calc(var(--heading-base-size) * 0.75);
  line-height: 44px;
  letter-spacing: 0.006em;
}

#root {
  padding: 32px 0px;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 768px) {
    padding: 0px;
    gap: 0px;
  }
}
