:root {
  /* fonts family */
  --font-family-primary: "Fixel Text";
  --font-family-secondary: "Fixel Display";

  /* fonts size */
  --text-base-size: 18px;
  --text-button-label-size: 16px;
  --heading-base-size: 48px;
  --text-small-size: 14px;
  --text-large-size: 24px;

  /* colors */
  --color-text: #667085;
  --color-text-error: #f04438;
  --color-text-heading: #101828;
  --color-text-button: #475467;

  --color-primary: #087443;
  --color-backround-common: #f2f4f7;
  --color-border: #eaecf0;

  --color-white: #fff;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;

  --color-success: #73e2a3;
  --color-success-light: #d3f8df;
  --color-error: #fda29b;
  --color-error-light: #fee4e2;
  --color-primary-light: #edfcf2;

  /* spaces */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 48px;
  --space-xxl: 54px;
  --space-xxxl: 64px;

  /* border radius */
  --border-radius: 6px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;

  /* transitions */
  --transition-base: 0.3s ease-in-out;

  /* shadows */
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  /* z-index */
  --z-index-header: 100;
  --z-index-modal: 1000;
}
